@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Marck+Script&display=swap');
.header{
    height: 33vw;
    width: 90%;
    margin: 30px auto;
    background: url('/public/header_img.jpg') no-repeat;
    background-size: contain;
    position: relative;
    border-radius: 15px;
}
.header-contents{
    position: absolute;
    flex-direction: column;
    display: flex;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}
.header-contents h2{
    font-weight: 500;
    color: white;
    font-size: max(4.5vw,22px) ;
    text-shadow:3px 3px 4px #000000;
    font-family: Lobster;
}

.header-contents p{
    color: white;
    font-size: 1.3vw;
    text-shadow:3px 3px 4px #000000;
    
}

.header-contents button{
    border: none;
    color: #1e0000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    padding: .9vw 2.2vw;
    background-color: rgb(247, 255, 130);
    font-size: max(1.2vw,16px);
    border-radius: 15px;
    font-weight: 600;
}

.header-contents button:hover{
    background-color: black;
    color: white;
    
}

@media (max-width:1050px){
   
    .header-contents{
        max-width: 45%;
    }
}
@media (max-width:750px){
    
    .header-contents{
        max-width: 55%;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
        font-size: 7pt;
    }
    .header-contents h2{
        font-size: 15pt;
    }
}